@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-size-text: 0.875rem; /* 14px */
  --font-size-name: 1.5rem; /* 24px */
  --font-weight-name: 700;
  --font-weight-links: 600;
  --padding-profile-card: 1.5rem; /* 24px */
  --padding-inline-profile: 0.625rem; /* 10px */
  --padding-block-profile: 1.5625rem; /* 25px */
  --padding-block-social: 0.875em; /* 14px */
  --margin-block-profile: 1.625rem; /* 26px */
  --gap-social: 0.9375rem; /* 15px */

}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100svh;
  /* background-color: #141414; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-text);
}

img {
  display: block;
  max-width: 100%;
}


.profile-card {
  max-width: 20.4375rem; /* 327px */
  background-color: #ee9f9f;
  border-radius: 10px;
  padding: var(--padding-profile-card);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--padding-inline-profile);
  padding-block-end: var(--padding-block-profile);
}

.profile__image {
  border-radius: 50%;

}

.profile__name {
  font-weight: var(--font-weight-name);
  font-size: var(--font-size-name);
  margin-block-start: var(--margin-block-profile);

}

.profile__location {
  font-weight: var(--font-weight-links);
  color: #161910;
  
}

.profile__quote {
  margin-block-start: var(--padding-block-profile);
  
}


.social__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-social);
  
}



.social__link {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: var(--font-weight-links);
  padding-block: var(--padding-block-social);
  background-color: #c0b7b7;
  border-radius: 5px;
}




